{% extends 'base.html' %}
{% load static %}

{% block title %}
  <title>{{ action|capfirst }} {{ item.name }}</title>
{% endblock %}

{% block background %}
 <style>
   body {
      background-image:
         linear-gradient(rgba(80, 10, 10, 0.5), rgba(80, 10, 10, 0.5)),
         url("{% static 'images/background/treasury.png' %}");
   }
 </style>
{% endblock %}

{% block content %}
  <img src="{% static 'images/races/' %}{{ character.race.name }}.png" alt="race-icon" class="icon chardetail-icon">
  <img src="{% static 'images/professions/' %}{{ character.profession.name }}.png" alt="profession-icon" class="icon chardetail-icon">
  <h1>{{ character.name }}'s Inventory</h1>
  <h2>Are you sure you want to {{ action }} {{ item.name }} for {% if action == 'buy' %}{{ item.price }}{% else %}{{ item.sell_price }}{% endif %} gold?</h2>
  <div class="d-flex gap-3 mt-3">
    <button type="submit" class="btn btn-primary btn-background" style="width: 80px;" onclick="history.back()">Back</button>
    <form action="" method="post">
      {% csrf_token %}
      <button type="submit" class="btn btn-primary">Confirm</button>
    </form>
  </div>
{% endblock %}
