{% extends "base.html" %}
{% load static %}
{% load crispy_forms_filters %}

{% block title %}<title>Ladder</title>{% endblock %}

{% block background %}
 <style>
   body {
      background-image:
         linear-gradient(rgba(80, 10, 10, 0.5), rgba(80, 10, 10, 0.5)),
         url("{% static 'images/background/throne_hall.png' %}");
   }
 </style>
{% endblock %}

{% block content %}
  <div class="col-sm-4">
    <form action="" method="get" class="d-flex gap-3 mt-2">
      {{ search_form|crispy }}
      <button type="submit" class="btn btn-primary ms-2" style="width: 80px; max-height: 40px;">Search</button>
    </form>
  </div>

  <h1>{% if searched_name %}Searched Characters{% else %}Top {{ character_list|length }} Ladder by level{% endif %}</h1>
  {% for character in character_list %}
    <p>
      {{ forloop.counter }}.
      <img src="{% static 'images/races/' %}{{ character.race.name }}.png" alt="race-icon" class="icon charlist-icon ladderlist-icon">
      <img src="{% static 'images/professions/' %}{{ character.profession.name }}.png" alt="profession-icon" class="icon charlist-icon ladderlist-icon">
      <a href="{% url 'game:character-detail' char_name=character.name %}">
        {{ character.name }} (level {{ character.level }})
      </a>
    </p>
  {% empty %}
    <p>No characters.</p>
  {% endfor %}
{% endblock %}
